* {
  list-style: none;
}

.side {
  width: 15%;
  height: 50%;
}

.sidebar {
  width: 100%;
  height: 100%;
  color: #fff;
  height: 100vh;
}

.box {
  /* background-color: #121212; */
  height: 270px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  /* background-color: #e1d99a; */
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  padding: 30px;

  border-radius: 0.75rem;
}

.box:not(:last-of-type) {
  margin-bottom: 20px;
}

.links {
  min-height: 40px;
  max-height: fit-content;
}

.links ul li:not(:last-of-type) {
  margin-bottom: 20px;
}

.lists {
  height: 500px;
}

h3 {
  cursor: pointer;
  position: relative;
  transition: .2s;
}

h3:hover {
  color: #FFF;
}

h3::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  height: 110%;
  transform: translateY(-50%);
  width: 0;
  transition: 0.3s;
  border-radius: 20px;
  background-position: 100% 100%;
  background: linear-gradient(
    45deg,
    rgb(238, 238, 238) 0%,
    rgb(255, 227, 227) 100%
  );
  cursor: pointer;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  z-index: -1;
}

h3:hover::after {
  width: 100%;
}
